*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{

    background-image: url("./images/5.jpg");
    margin: 0px;
    height:           108px;
    font-size: 85px; 
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
  }
  nav{
    margin: 0px;
    display: block;
    text-align: center;
   background-color:darkturquoise;
   border: 1px;
   border-radius: 1px;
   
  }
  nav ul{
    font-size: large;
    margin: 0px;
      list-style-type: none;
      padding: 15px 5px 15px 5px;
  }
  
    nav ul li{
      list-style-type:circle;
      display: inline;
      display: inline;
      padding: 25px 30px 25px 30px;
  }
  nav ul li a{
    text-decoration: none;   /* 去掉下划线 */
    font-style: bold;
  }
a{
    color: white;
    text-decoration: none;
}
.more{
    color: red !important;
}

.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; 
}
.middle{
    width: 3610px;
    height: 430px;
    animation: switch 5s ease-out infinite;
}
@keyframes switch {
 0%, 25% {
  margin-left: 0;
 }
 35%, 60% {
  margin-left: -1205px;
 }
 70%, 100% {
  margin-left: -2405px;
    }
}
.middle img{
    width:1200px;
    height: 100%;
}

header{
    height: 100px;
    width: 1200px;
    background:#669a98;
    margin: 0 auto;
    text-align: center;
}
.nav{
    width: 1200px;
    height: 30px;
    color: white;
    font-weight: bold;
    background:#669a98;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav span:hover,a:hover{
    color: tomato ;
    transform: scale(1.2);
    transition: all 0.5s ;
}
.bottom{
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    padding: 20px;
    background: #fff6ef;
    justify-content: space-between;
}
.left{
    width: 20%;
}
.left1{
    width: 100%;
}
.left1>img{
    width: 100%;
}
.left2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1px;
}
.left2>img{
    width: 49%;
    margin: 1px auto;
}
.right{
    width:75%;
    padding-top: 30px;
}
h3{
    color: #669a98;
    margin-bottom: 10px;
    font-size: 20px;
}
.right1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #669a98;
    padding-bottom: 10px;
    margin-top: 15px;
}
.red{
    color: red;
    margin-top: 20px;
    font-weight: bold;
}
.closer{
    margin: 0 auto;
    width: 1200px;
    height: 60px;
    background: #669a98;
    text-align: center;
    line-height: 60px;
    color: white;
}